{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link id="color-link" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <section class="cart-section section-b-space">
        <div class="container py-5">
            <div class="row">
                <!-- Cart Section Start -->
                <div class="col-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                <tr class="product-box-contain" style="padding-top: 2px;padding-bottom: 2px">
                                    <td class="product-detail">
                                        <div class="product border-0">
                                            <a href="product-left-thumbnail.html" class="product-image">
                                                <img src="{% static 'img/JF-D-002.jpg' %}" class="img-fluid"
                                                     alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <h4 class="table-title text-content">Description</h4>
                                        <h5>JF Code:JF-D-002</h5>
                                        <h5>LED Power:2W</h5>
                                        <h5>LED VOL:3V</h5>
                                        <h5>PCB_NUM:6A+6B+6C+6D</h5>
                                    </td>
                                    <td class="price">
                                        <h4 class="table-title text-content">Price</h4>
                                        <h5>$35.10
                                            <del class="text-content">$45.68</del>
                                        </h5>
                                        <h6 class="theme-color">You Save : $20.68</h6>
                                    </td>

                                    <td class="quantity">
                                        <h4 class="table-title text-content">Qty</h4>
                                        <div class="quantity-price">
                                            <div class="cart_qty">
                                                <div class="input-group">
                                                    <button type="button" class="btn qty-left-minus" data-type="minus"
                                                            data-field="">
                                                        <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                    </button>
                                                    <input class="form-control input-number qty-input" type="text"
                                                           name="quantity" value="0">
                                                    <button type="button" class="btn qty-right-plus" data-type="plus"
                                                            data-field="">
                                                        <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="subtotal">
                                        <h4 class="table-title text-content">Total</h4>
                                        <h5>$35.10</h5>
                                    </td>

                                    <td class="save-remove">
                                        <h4 class="table-title text-content">Action</h4>
                                        <a class="save notifi-wishlist" href="javascript:void(0)">Save for later</a>
                                        <a class="remove close_button" href="javascript:void(0)">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                <tr class="product-box-contain">
                                    <td class="product-detail">
                                        <div class="product border-0">
                                            <a href="product-left-thumbnail.html" class="product-image">
                                                <img src="{% static 'img/JF-D-002.jpg' %}" class="img-fluid"
                                                     alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <h4 class="table-title text-content">Description</h4>
                                        <h5>JF Code:JF-D-002</h5>
                                        <h5>LED Power:2W</h5>
                                        <h5>LED VOL:3V</h5>
                                        <h5>PCB_NUM:6A+6B+6C+6D</h5>
                                    </td>
                                    <td class="price">
                                        <h4 class="table-title text-content">Price</h4>
                                        <h5>$35.10
                                            <del class="text-content">$45.68</del>
                                        </h5>
                                        <h6 class="theme-color">You Save : $20.68</h6>
                                    </td>

                                    <td class="quantity">
                                        <h4 class="table-title text-content">Qty</h4>
                                        <div class="quantity-price">
                                            <div class="cart_qty">
                                                <div class="input-group">
                                                    <button type="button" class="btn qty-left-minus" data-type="minus"
                                                            data-field="">
                                                        <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                    </button>
                                                    <input class="form-control input-number qty-input" type="text"
                                                           name="quantity" value="0">
                                                    <button type="button" class="btn qty-right-plus" data-type="plus"
                                                            data-field="">
                                                        <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="subtotal">
                                        <h4 class="table-title text-content">Total</h4>
                                        <h5>$35.10</h5>
                                    </td>

                                    <td class="save-remove">
                                        <h4 class="table-title text-content">Action</h4>
                                        <a class="save notifi-wishlist" href="javascript:void(0)">Save for later</a>
                                        <a class="remove close_button" href="javascript:void(0)">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                <tr class="product-box-contain">
                                    <td class="product-detail">
                                        <div class="product border-0">
                                            <a href="product-left-thumbnail.html" class="product-image">
                                                <img src="{% static 'img/JF-D-002.jpg' %}" class="img-fluid"
                                                     alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <h4 class="table-title text-content">Description</h4>
                                        <h5>JF Code:JF-D-002</h5>
                                        <h5>LED Power:2W</h5>
                                        <h5>LED VOL:3V</h5>
                                        <h5>PCB_NUM:6A+6B+6C+6D</h5>
                                    </td>
                                    <td class="price">
                                        <h4 class="table-title text-content">Price</h4>
                                        <h5>$35.10
                                            <del class="text-content">$45.68</del>
                                        </h5>
                                        <h6 class="theme-color">You Save : $20.68</h6>
                                    </td>

                                    <td class="quantity">
                                        <h4 class="table-title text-content">Qty</h4>
                                        <div class="quantity-price">
                                            <div class="cart_qty">
                                                <div class="input-group">
                                                    <button type="button" class="btn qty-left-minus" data-type="minus"
                                                            data-field="">
                                                        <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                    </button>
                                                    <input class="form-control input-number qty-input" type="text"
                                                           name="quantity" value="0">
                                                    <button type="button" class="btn qty-right-plus" data-type="plus"
                                                            data-field="">
                                                        <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="subtotal">
                                        <h4 class="table-title text-content">Total</h4>
                                        <h5>$35.10</h5>
                                    </td>

                                    <td class="save-remove">
                                        <h4 class="table-title text-content">Action</h4>
                                        <a class="save notifi-wishlist" href="javascript:void(0)">Save for later</a>
                                        <a class="remove close_button" href="javascript:void(0)">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                <tr class="product-box-contain">
                                    <td class="product-detail">
                                        <div class="product border-0">
                                            <a href="product-left-thumbnail.html" class="product-image">
                                                <img src="{% static 'img/JF-D-002.jpg' %}" class="img-fluid"
                                                     alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <h4 class="table-title text-content">Description</h4>
                                        <h5>JF Code:JF-D-002</h5>
                                        <h5>LED Power:2W</h5>
                                        <h5>LED VOL:3V</h5>
                                        <h5>PCB_NUM:6A+6B+6C+6D</h5>
                                    </td>
                                    <td class="price">
                                        <h4 class="table-title text-content">Price</h4>
                                        <h5>$35.10
                                            <del class="text-content">$45.68</del>
                                        </h5>
                                        <h6 class="theme-color">You Save : $20.68</h6>
                                    </td>

                                    <td class="quantity">
                                        <h4 class="table-title text-content">Qty</h4>
                                        <div class="quantity-price">
                                            <div class="cart_qty">
                                                <div class="input-group">
                                                    <button type="button" class="btn qty-left-minus" data-type="minus"
                                                            data-field="">
                                                        <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                    </button>
                                                    <input class="form-control input-number qty-input" type="text"
                                                           name="quantity" value="0">
                                                    <button type="button" class="btn qty-right-plus" data-type="plus"
                                                            data-field="">
                                                        <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="subtotal">
                                        <h4 class="table-title text-content">Total</h4>
                                        <h5>$35.10</h5>
                                    </td>

                                    <td class="save-remove">
                                        <h4 class="table-title text-content">Action</h4>
                                        <a class="save notifi-wishlist" href="javascript:void(0)">Save for later</a>
                                        <a class="remove close_button" href="javascript:void(0)">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>Cart Total</h3>
                        </div>

                        <div class="summery-contain">
                            <div class="coupon-cart">
                                <h6 class="text-content mb-2">Coupon Apply</h6>
                                <div class="mb-3 coupon-box input-group">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Enter Coupon Code Here...">
                                    <button class="btn-apply">Apply</button>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price">$125.65</h4>
                                </li>

                                <li>
                                    <h4>Coupon Discount</h4>
                                    <h4 class="price">(-) 0.00</h4>
                                </li>

                                <li class="align-items-start">
                                    <h4>Shipping</h4>
                                    <h4 class="price text-end">$6.90</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>Total (USD)</h4>
                                <h4 class="price theme-color">$132.58</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = '{% url 'checkout' %}';"
                                            class="btn btn-animation proceed-btn fw-bold">Process To
                                        Checkout
                                    </button>
                                </li>

                                <li>
                                    <button onclick="location.href = 'index';"
                                            class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Cart Section End -->
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}