{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Banner -->
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-9 text-white">
                    <h1>Welcome!</h1>
                </div>
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="User name">
                        <label for="floatingInput">User name or Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Password">
                        <label for="floatingInput">Pass1word</label>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">Check me out</label>
                            <a class="form-check-label" for="gridCheck" style="float: right;" href="{% url 'register' %}">还未注册?</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->
{% endblock %}