{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Banner -->
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-9 text-white">
                    <h1>Welcome!</h1>
                    <div class="col-md-5">
                        <img src="{% static 'img/about-hero.svg' %}" alt="About Hero">
                    </div>
                </div>
                <div class="col-md-3">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.login_email }}
                            <label for="floatingInput">{{ form.login_email.label }}</label>
                            <span style="color: red;">{{ form.login_email.errors.0 }}</span>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password }}
                            <label for="floatingInput">{{ form.password.label }}</label>
                            <span style="color: red;">{{ form.password.errors.0 }}</span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="form-floating mb-3" style="width: 190px;">
                                    {{ form.code }}
                                    <label for="floatingInput">&nbsp;&nbsp;&nbsp;{{ form.code.label }}</label>
                                    <span style="color: red;">{{ form.code.errors.0 }}</span>
                                </div>
                                <div class="col-md-5 mb-3" style="display: flex; align-items: center;">
                                    <img id="image_code" src="http://127.0.0.1:8000/user/image/code/"
                                         style="height: 58px; width: 120px; margin-left: -5px;" alt="none">
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="float: right;align-items: center;">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                            <a class="form-check-label mb-3" style="float: right; margin-top: 4px;"
                               href="{% url 'register' %}">Create an account</a><span
                                style="float: right;color: white;margin-top: 4px;">New ?&nbsp;&nbsp;</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->
{% endblock %}

{% block Script %}

{% endblock Script %}
