{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Banner -->
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-9 text-white">
                    <h1>Welcome! 注册</h1>
                </div>
                <div class="col-md-3">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <span style="color: white;">{{ error_message }}</span>
                        {% for field in form %}
                        <div class="form-floating mb-3">
                            {{ field }}
                            <label for="floatingInput">{{ field.label }}</label>
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                        {% endfor %}
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Sign up</button>
                            <a class="form-check-label"  style="float: right;" href="{% url 'user' %}">点此登录</a><span style="float: right;color: white;">已有帐号?</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->
{% endblock %}
