{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'store/head.html' %}
    <title>Jufeng Shop - About</title>
<body>
    {% include 'store/navbar.html' %}

    <!-- Banner -->
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-9 text-white text-right">
                  <h1 class="display-1">Welcome!</h1>
                  <p>
                  </p>
                </div>
                <div class="col-md-3 text-white">
                    <form method="POST" novalidate>
                        {% csrf_token %}
         
                        {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color:red;">{{ field.errors.0 }}</span>
                        </div>
                        {% endfor %}
         
                        <button type="submit" class="btn btn-info">提交</button>
                </div>
                <!-- <div class="col-md-4">
                    <img src="{% static 'img/about-hero.svg' %}" alt="About Hero">
                </div> -->
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    {% include 'store/footer.html' %}
    {% include 'store/scripts.html' %}

</body>

</html>