{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'store/head.html' %}
    <title>Jufeng Shop - Shop</title>
<body>
    {% include 'store/navbar.html' %}

    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <!--侧边栏开始 -->
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            DLED
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">LG</a></li>
                            <li><a class="text-decoration-none" href="#">Samsung</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            ELED
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">LG</a></li>
                            <li><a class="text-decoration-none" href="#">Samsung</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            other
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">LED</a></li>
                            <li><a class="text-decoration-none" href="#">LED PKG</a></li>
                            <li><a class="text-decoration-none" href="#">LED Screen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--侧边栏结束 -->

            <!--商品列表开始 -->
            <div class="col-lg-9">
                <!--商品列表表头开始 -->
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">RTS</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="#">RTP</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--商品列表表头结束 -->
                <!--商品列表正循环开始 -->
                <div class="row">
                    <!--商品列表正循环内容 -->
                     <!--这里是使用分页器进行分页循环展示 -->
                    {% for spu in page_obj %}    

                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <!-- <img class="card-img rounded-0 img-fluid" src="{% static 'img/JF-D-004.jpg' %}"> -->
                                <img class="card-img rounded-0 img-fluid" src="{{ item.default_image_url.url }}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="single/?num={{ item.id }}"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="single/?num={{ item.id }}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="single/?num={{ item.id }}"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="single/?num={{ item.id }}" class="h3 text-decoration-none">{{ spu.listing}}</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>M/L/X/XL</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                    {% block scripts %}
                                        <script>
                                            var product_id = "{{ spu.fa_star }}";
                                            for (let i = 0; i < product_id; i++) {
                                                document.write('<i class="text-warning fa fa-star"></i>');
                                            }
                                            for (let i = 0; i < 5 - product_id; i++) {
                                                document.write('<i class="text-muted fa fa-star"></i>');
                                            }
                                        </script>
                                    {% endblock %}
                                    </li>
                                </ul>
                                <p class="text-center mb-0">{{ spu.price }}</p>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <!--商品列表正循环结束 -->
                </div>
                <!--商品列表正循环结束 -->

                <!--商品列表分页器开始-->
                <div class="row">
                    <ul class="pagination  justify-content-end ">

                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?num=1">First</a>
                        </li>


                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?num={{page_obj.previous_page_number}}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" >Previous</a>
                        </li>
                        {% endif %}
                        <nav>
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a href="#" class="page-link text-dark">
                                        <span>&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link text-dark">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link text-dark">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link text-dark">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link text-dark">4</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link text-dark">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link text-dark">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                      


                        {% if page_obj.has_next  %}
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?num={{page_obj.next_page_number}}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark">Next</a>
                        </li>
                        {% endif %}



                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"  href="?num={{page_obj.paginator.num_pages}}">End</a>
                        </li>
                    </ul>
                    
                </div>
                <!--商品列表分页器结束-->

                <p  style="text-align: right;">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }} </p>
            </div>
            <!--商品列表结束 -->

        </div>
    </div>
    <!-- End Content -->

    {% include 'store/footer.html' %}
    {% include 'store/scripts.html' %}
</body>

</html>