{% load static %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="col-lg-12 py-0">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2, list-inline-item">Original Code</h1>
                        <p>55P1 A     55HR330M04A0  V2     4C-LB5504-HR05J</p>
                        <h1 class="h2, list-inline-item">Fundamental Specification</h1>
                        <p>55P1 A     55HR330M04A0  V2     4C-LB5504-HR05J</p>
                        <h1 class="h2, list-inline-item">Absolute maximum ratings</h1>
                        <ul class="list-unstyled pb-3">
                            <li>*1.Total current for LED Array(300mA per String)</li>
                            <li>*2.Total pulse current for LED Array(300mA per String):Pulse Width≤0.1msec, Duty≤10%</li>
                            <li>*3. Power Dissipation for LED Array is Maximum IFM * Maximum Vf at the Maximum IFM</li>
                            <li>*4. The absolute Maximum Junction Temperature does not guarantee life time of products</li>
                            <li>*5. Junction Temperature:Guarantee for No None-Lighting Guarantee for No Silicone Crack(Tj<90ºC 50000hr)</li>
                        </ul>
                        <h1 class="h2, list-inline-item">Packaging & Shipping</h1>
                        <ul class="list-unstyled pb-3">
                            <li>1. The Light bars are packed in the cardboard boxes after being set in the tray plate with a drier.</li>
                            <li>2. The tray plate should be packed by the paper self-adhesive tape in a loop.</li>
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>        
        </div>
    </section>
    <!-- Close Content -->